<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>
<div ng-controller="taskManagerController">
	<h2 class="page-title">Task Manager using Spring Boot, Spring Data REST and AngularJS</h2>
	<div id="task-panel" class="fadein faedeout showpanel panel" ng-show = "toggle">
		<div class = "panel-heading">
			<i class = "panel-title-icon fa fa-tasks"></i>
			<span class = "panel-title">Recent Tasks</span>
			<div class = "panel-heading-controls">
				<button ng-click="toggle = !toggle" class = "btn-panel">Add New Task</button>
				<button class = "btn-panel" confirmed-click="archiveTasks()" ng-confirm-click="Would you like to archive completed tasks?"">Clear Completed Tasks</button>
			</div>
		</div>
		<div class = "panel-body">
			<div class = "task" ng-repeat "task in tasks>

				<div class = "action-checkbox">
					<input id = "{{task._links.self.href}}" type = "checkbox" value = "task._links.self.href" ng-checked="selection.indexOf(task._links.self.href) > -1" ng-click ="toggleSelection(task._links.self.href" />
				</div>
				<div ng-if="task.taskStatus=='COMPLETED'">
					<a href = "#" class="checkedClass">
						{{task.taskName}}
						<span class="action-status">{{task.taskStatus}}</span>
					</a>
				</div>
				<div ng-if="task.taskStatus=='ACTIVE'">
					<a href = "#" class="uncheckedClass">
						{{task.taskName}}
						<span class="action-status">{{task.taskStatus}}</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div id = "add-task-panel" class = "fadein fadeout addpanel panel" ng-hide = "toggle">
		<div class = "panel-heading">
			<i class = "panel-title-icon fa fa-plus"></i>
			<span class = "panel-title">Add Task</span>
			<div class = "panel-heading-controls"> 
				<button ng-click = "toggle = !toggle" class = "btn-panel">Show All Tasks</button>
			</div>
		</div>
		<div class = "panel-body">
			<div class = "task">
				<table class = "add-task">
					<tr>
						<td>Task Name:</td>
						<td><input type = "text" ng-model="taskName"/></td>
					</tr>
					<tr>
						<td>Task Description:</td>
						<td><input type = "task" ng-model = "taskDesc"/></td>
					</tr>
					<tr>
						<td>Task Status:</td>
						<td>
							<select ng-model="taskStatus" ng-options="status as status for status in statuses">
								<option value = "">-- Select --</option>
							</select>
						</td>
					</tr>
					<td>Task Class:</td>
					<td>
						<select ng-model="taskClass" ng-options="class as class for class in classes">
							<option value = "">-- Select --</option>
						</select>
					</td>
					<tr>
						<td><br/><button ng-click="addTask()" class = "btn-panel-big">Add New Task</button></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>